<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- checkout wizard -->
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="currentStep === 'address'"
            (click)="setCurrentStep('address')"
            >Address</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="currentStep === 'shipment'"
            (click)="setCurrentStep('shipment')"
            >Shipment</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="currentStep === 'review'"
            (click)="setCurrentStep('review')"
            >Review</a
          >
        </li>
      </ul>

      <!-- Address section -->
      <div *ngIf="currentStep === 'address'">
        <app-address></app-address>
      </div>

      <!-- Shipment section -->
      <div *ngIf="currentStep === 'shipment'">
        <app-shipment></app-shipment>
      </div>

      <!-- Review section -->
      <div *ngIf="currentStep === 'review'">
        <app-review></app-review>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Order summary -->
      <app-order-summary></app-order-summary>
    </div>
  </div>
</div>
