<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Good practice to wrap navbar content in a container -->
    <a class="navbar-brand" href="#">
      <img src="images/logo.png" alt="Sport Center Logo" width="90" />
      Sport Center
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/store">
            <i class="fas fa-th-list"></i> Store
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/basket">
            <i class="fas fa-shopping-cart"></i>
            <ng-container *ngIf="basketSource$ | async as basket">
              <span class="cart-badge" *ngIf="basket.items.length > 0">{{
                getItemCount(basket.items)
              }}</span>
            </ng-container>
          </a>
        </li>
        <ng-container *ngIf="(currentUser$ | async) === null">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/account/login">
              <i class="fa fa-sign-in"></i> Signin
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/account/register">
              <i class="fa fa-user"></i> Sign Up
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async as user">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/account/profile">
              Welcome, {{ user.username }}
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" (click)="logout()">
              <i class="fa fa-sign-out"></i> Logout
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
